{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Banner Section -->
<section class="site-banner jarallax min-height300 padding-large" style="background: url({% static 'images/hero-image.jpg' %}) no-repeat;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-title">cart summary</h1>
        <div class="breadcrumbs">
          <span class="item">
            <a href="{% url 'home' %}">Home /</a>
          </span>
          <span class="item">Cart</span>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Cart Content -->
<section id="featured-products" class="product-store padding-large">
  <div class="container">
    <div class="section-header d-flex flex-wrap align-items-center justify-content-between">
      <h2 class="section-title">Featured Products</h2>            
      <div class="btn-wrap">
        <a href="{% url 'shop' %}" class="d-flex align-items-center">View all products <i class="icon icon icon-arrow-io"></i></a>
        <a href="{% url 'checkout' %}" class="d-flex align-items-center">checkout</a>
        <strong>Total :${{ totals }}</strong>
      </div>            
    </div>
    <div class="swiper product-swiper overflow-hidden">
      <div class="swiper-wrapper">
        {% for product in cart_products %}
        <div class="swiper-slide">
          <div class="product-item">
            <div class="image-holder">
            <a href="{% url 'product' product.id %}" class="product-link">
              <img src="{{ product.image.url }}" alt="Books" class="product-image">
            </a>
            </div>

            <div class="product-detail">
              <h3 class="product-title">
                <a href="{% url 'product' product.id %}">{{ product.name }}</a>
              </h3>
            <div class="product-actions">
              <select class="form-select" id="select{{ product.id }}">
              {% for key, value in quantities.items %}
                {% if key == product.id|slugify %}
                  <option selected > {{ value }} </option>
                {% endif %}
              {% endfor %}
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
            <button class="add-to-cart-btn update-cart" data-index="{{ product.id }}" type="button">
              Update
            </button>
            <button class="add-to-cart-btn delete-product" data-index="{{ product.id }}" type="button">
              Delete
            </button>
            <br><br/>
              {% if product.is_sale %}
                <div>
                <span>Sale</span>
                  <span class="item-price text-primary">${{ product.sale_price }}</span> &nbsp;
                  <s class="text-muted ms-2">${{ product.price }}</s>
                </div>
              {% else %}
                <span class="item-price text-primary">${{ product.price }}</span>
              {% endif %}
            </div>
          </div>
      </div>
            {% empty %}
        <!-- Empty Cart -->
        <div class="empty-cart text-center padding-large" style="height: 30vh; width: 100vw; text-align: center;">
          <i class="icon icon-shopping-cart" style="font-size: 80px; color: #ccc;"></i>
          <h2 class="mt-4">Your Cart is Empty</h2>
          <p class="text-muted mb-4">Looks like you haven't added anything to your cart yet</p>
          <a href="{% url 'shop' %}" class="btn btn-dark btn-larg">
            Start Shopping
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% if cart_products %}
<!-- You May Also Like Section -->
<section id="featured-products" class="product-store padding-large" style="background: white;">
  <div class="container">
    <div class="section-header d-flex flex-wrap align-items-center justify-content-between">
      <h2 class="section-title">You May Also Like</h2>            
      <div class="btn-wrap">
        <a href="{% url 'shop' %}" class="d-flex align-items-center">View all products <i class="icon icon icon-arrow-io"></i></a>
      </div>            
    </div>
    <div class="swiper product-swiper overflow-hidden">
      <div class="swiper-wrapper">
        {% for product in products %}
        <div class="swiper-slide">
          <div class="product-item">
            <div class="image-holder">
              <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
            </div>
            <div class="cart-concern">
              <div class="cart-button d-flex justify-content-between align-items-center">
                <button type="button" class="btn-wrap cart-link d-flex align-items-center">add to cart <i class="icon icon-arrow-io"></i>
                </button>
                <button type="button" class="view-btn tooltip d-flex">
                  <i class="icon icon-screen-full"></i>
                  <span class="tooltip-text">Quick view</span>
                </button>
                <button type="button" class="wishlist-btn">
                  <i class="icon icon-heart"></i>
                </button>
              </div>
            </div>
            <div class="product-detail">
              <h3 class="product-title">
                <a href="{% url 'product' product.id %}">{{ product.name }}</a>
              </h3>
              {% if product.is_sale %}
                <div>
                  <span class="item-price text-primary">${{ product.sale_price }}</span> &nbsp;
                  <s class="text-muted ms-2">${{ product.price }}</s>
                </div>
              {% else %}
                <span class="item-price text-primary">${{ product.price }}</span>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
{% endif %}

<!-- Shipping Information -->
<section id="shipping-information">
  <hr>
  <div class="container">
    <div class="row d-flex flex-wrap align-items-center justify-content-between">
      <div class="col-md-3 col-sm-6">
        <div class="icon-box">
          <i class="icon icon-truck"></i>
          <h4 class="block-title">
            <strong>Free shipping</strong> Over $200
          </h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="icon-box">
          <i class="icon icon-return"></i>
          <h4 class="block-title">
            <strong>Money back</strong> Return within 7 days
          </h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="icon-box">
          <i class="icon icon-tags1"></i>
          <h4 class="block-title">
            <strong>Buy 4 get 5th</strong> 50% off
          </h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="icon-box">
          <i class="icon icon-help_outline"></i>
          <h4 class="block-title">
            <strong>Any questions?</strong> experts are ready
          </h4>
        </div>
      </div>
    </div>
  </div>
  <hr>
</section>

<script>
//code for update cart
  //check if button pressed
$(document).on('click', '.update-cart', function(e){
  e.preventDefault();
  //grab the product id
  var productid = $(this).data('index');
  $.ajax({
    type: 'POST',
    url: '{% url 'cart_update' %}',
    data: {
      product_id: $(this).data('index'),
      product_qty: $('#select' + productid + ' option:selected').text(),
      csrfmiddlewaretoken: '{{ csrf_token }}',
      action: 'post'   // <-- très important, doit correspondre au test dans la vue
    },
    success: function(json){
      //console.log(json)
      //document.getElementById("cart_quantity").textContent = json.qty
        location.reload();
    },
    error: function(xhr, errmsg, err) {
    }

  });

})


//code for delet product fromc art
$(document).on('click', '.delete-product', function(e){
  e.preventDefault();
  //grab the product id
  //var productid = $(this).data('index');
  $.ajax({
    type: 'POST',
    url: '{% url 'cart_delete' %}',
    data: {
      product_id: $(this).data('index'),
      csrfmiddlewaretoken: '{{ csrf_token }}',
      action: 'post'   // <-- très important, doit correspondre au test dans la vue
    },
    success: function(json){
      //console.log(json)
      //document.getElementById("cart_quantity").textContent = json.qty
        location.reload();
    },
    error: function(xhr, errmsg, err) {
    }

  });

})
</script>

{% endblock content %}
