{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="register-container">
  <div class="register-wrapper">
    <div class="register-header">
      <h2>Sign Up</h2>
      <p>Create your account to start shopping!</p>
    </div>


    <form method="POST" action="{% url 'register' %}">
      {% csrf_token %}
      
      {{ form.as_p }}

      <button type="submit" class="register-button">Create Account</button>

      <div class="divider">
        <span>Or sign up with</span>
      </div>

      <div class="social-register">
        <button type="button" class="social-button facebook">
          <i class="icon icon-facebook"></i>
        </button>
        <button type="button" class="social-button google">
          <i class="fa fa-google"></i>
        </button>
      </div>

      <div class="login-link">
        Already have an account? <a href="{% url 'login' %}">Sign In</a>
      </div>
    </form>
  </div>
</section>
<script src="{% static 'js/register.js' %}"></script>
{% endblock content %}

