{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'login2.css' %}">
{% endblock extra_css %}
{% block content %}
<section class="register-container">
  <div class="register-wrapper">
    <div class="register-header">
      <h2>Sign Up</h2>
      <p>Create your account to start shopping!</p>
    </div>

    <form method="POST" action="{% url 'register' %}" class="register-form">
      {% csrf_token %}
      {{ form.as_p  }}
      <button type="submit" class="register-button">Create Account</button>

{% endblock content %}